html
{
    background-color: #283149;
    background-image: url("./Images/hearts.gif");
}

body
{
    text-align: center;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 60px;
    color: #FE9EC7;
}


#mainTings {
    align-content: center;
}

.clicker {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
  font-style: normal;
    margin-top: 0;
    background-color: #DA0463;
    color: #DBEDF3;
    font-size: 2rem;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(218, 4, 99, 0.4);
}

.bitcount-prop-double-ink-Click {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
    padding: 0;
    margin-bottom: 0;
}